$border-color: #1f590e;
$hover-color: #5fe03f;
$vox-font: 'vox';
$background-color-hover: #123508;
$background-color: #091a04;
$text-color: #5fe03f;
$spinner-color: #5fe03f;

/* More btn */
$more-background: #178095;
$more-border: #1ccef1;
$more-color-text: #4fe2ff;
$more-background-hover: #145663;
$more-border-hover: #15d8ff;
$more-color-text-hover: #4fe2ff;

/* Character Info Page */
$info-bg-color:#091a04;
$info-bd-color:#1f590e;
$info-text-color: #5fe03f;
$alive-status-bd: #3fbb1d;
$dead-status-bd: rgb(215, 10, 10);
$episodes-bg-color: #051503;
